In [2]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [3]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [5]:
tup = tuple("string")
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0]

's'

In [7]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [8]:
nested_tup[0]

(4, 5, 6)

In [9]:
tup = tuple(["foo", [1, 2], True])
tup[2] == True

True

In [10]:
(4, None, "foo") + (6, 0) + ("bar",)

(4, None, 'foo', 6, 0, 'bar')

In [11]:
("foo", "bar") * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [12]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [13]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [14]:
# other languages
tmp = a
a = b
b = tmp

# python
a, b = 1, 2
b, a = a, b
print("a = " + str(a) + "; b = ", str(b))

a = 2; b =  1

In [15]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f"a = {a}, b = {b}, c = {c}")

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [16]:
values = 1, 2, 3, 4, 5
a, b, * rest = values
print("a = " + str(a))
print("b = " + str(b))
print("rest = " + str(rest))

a = 1
b = 2
rest = [3, 4, 5]

In [17]:
a, b, *_ = values
print("a = " + str(a))
print("b = " + str(b))
print("rest = " + str(_))

a = 1
b = 2
rest = [3, 4, 5]

In [18]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [19]:
a_list = [2, 3, 7, None]
tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [20]:
gen = range(10)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [22]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [23]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [24]:
b_list.append("foo")
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [25]:
"dwarf" in b_list

True

In [26]:
"dwarf" not in b_list

False

In [27]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [28]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [29]:

# this is faster
# everything = []
# for chunk in list_of_lists:
#     everything.extend(chunk)

# than this
# everything = []
# for chunk in list_of_lists:
#     everything = everything + chunk

In [30]:
a = [7, 2, 5, 1, 3]
a.sort() # option to reverse: a.sort(reverse = True)
a

[1, 2, 3, 5, 7]

In [31]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key = len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [32]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [33]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [34]:
seq[:5]

[7, 2, 3, 6, 3]

In [35]:
seq[3:]

[6, 3, 6, 0, 1]

In [36]:
seq[-4:]

[3, 6, 0, 1]

In [37]:
seq[-6:-2]

[3, 6, 3, 6]

In [38]:
print(seq)
seq[::2] # every other element

[7, 2, 3, 6, 3, 6, 0, 1]

[7, 3, 3, 0]

In [39]:
print(seq)
seq[::-1]

[7, 2, 3, 6, 3, 6, 0, 1]

[1, 0, 6, 3, 6, 3, 2, 7]

In [40]:
empty_dict = {}
d1 = {"a": "some value",
      "b": [1, 2, 3, 4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [41]:
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [42]:
d1["b"]

[1, 2, 3, 4]

In [43]:
"b" in d1

True

In [44]:
d1[5] = "some value"

In [45]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [46]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [47]:
ret = d1.pop("dummy")
ret

'another value'

In [48]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [49]:
list(d1.keys())

['a', 'b', 7]

In [50]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [51]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [52]:
d1.update({"b": "foo", "c" : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [53]:
# mapping = {}
# for key, value in zip(key_list, value_list):
#     mapping[key] = value

In [54]:
tuples = zip(range(5), reversed(range(5)))
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [55]:
# if key in some_dict:
#     value = some_dict[key]
# else:
#     value = default_value

In [56]:
# leave off: Default values section

In [57]:
# this is not part of the book
# generate a fibonacci of length n
def fibo(n: int):
    if n <= 0:
        return "impossible"
    elif n == 1:
        return 0
    elif n == 2:
        return [0, 1]
    else:
        list = [0, 1]
        while len(list) < n:
            list.append(list[len(list) - 2] + list[len(list) -1 ])
        return list
    
fibo(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [58]:
# if key in some_dict:
#     value = some_dict[key]
# else:
#     value = default_value

In [59]:
# value = some_dict.get(key, default_value)

In [60]:
words = ["apple", "bat", "bar", "atom", "book"]

by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [61]:
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [62]:
from collections import defaultdict

by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)

by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [63]:
hash("string")

516613941038895208

In [64]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [65]:
# will not work because lists are mutable
# hash((1, 2, [2, 3]))

In [66]:
d = {}

d[tuple([1, 2, 3])] = 5

d

{(1, 2, 3): 5}

In [67]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [68]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [69]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

print(a | b)
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [70]:
print(a.intersection(b))
print(a & b)

{3, 4, 5}
{3, 4, 5}

In [71]:
c = a.copy()

c |= b

c

{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [73]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [74]:
a_set = {1, 2, 3, 4, 5}

{1, 2, 3}.issubset(a_set)

True

In [75]:
a_set.issuperset({1, 2, 3})

True

In [76]:
{1, 2, 3} == {3, 2, 1}

True

In [77]:
# given an integer x, return True if x is a palindrome, and False otherwise
def is_palindrome(x:int):
    if x < 0:
        return False
    else:
        rev = ""
        for digit in str(x):
            rev = digit + rev
    return str(x) == rev

is_palindrome(121)

True

In [78]:
# index = 0
# for value in collection:
#     # do something with value
#     index += 1

In [79]:
# for index, value in enumerate(collection):
#     # do something with value

In [80]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [81]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [82]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [83]:
seq3 = [True, False]
list(zip(seq1, seq2, seq3))

[('foo', 'one', True), ('bar', 'two', False)]

In [84]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [85]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [86]:
# skeleton for list comprehensions
# [expr for value in collection if condition]

# result = []
# for value in collection:
#     if condition:
#         result.append(expr)

In [87]:
strings = ["a", "as", "bat", "car", "dove", "python"]

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [88]:
unique_lengths = {len(x) for x in strings}

unique_lengths

{1, 2, 3, 4, 6}

In [89]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [90]:
loc_mapping = {value: index for index, value in enumerate(strings)}

loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [91]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

names_of_interest = []

for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)

names_of_interest

['Maria', 'Natalia']

In [92]:
result = [name for names in all_data for name in names if name.count("a") >= 2]

result

['Maria', 'Natalia']

In [93]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]

flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

functions

In [96]:
def my_function(x, y):
    return x + y

result = my_function(1, 2)

result

3

In [97]:
def function_without_return(x):
    print(x)

result = function_without_return("hello")

hello

In [98]:
print(result)

None

In [99]:
def my_function2(x, y, z = 1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

my_function2(5, 6, z = 0.7)

0.06363636363636363

In [100]:
my_function2(3.14, 7, 3.5)

35.49

In [101]:
my_function2(10, 20)

45.0

In [102]:
def func():
    a = []
    for i in range(5):
        a.append(i)

a

'baz'

In [103]:
a = []

def func():
    for i in range(5):
        a.append(i)

func()
print(a)
func()
a

[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [104]:
a = None

def bind_a_variable():
    global a
    a = []

bind_a_variable()
a

[]

In [105]:
# returning multiple values
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

print(a)
print(b)
print(c)

5
6
7

In [106]:
return_value = f()

def f():
    a = 5
    b = 6
    c = 7
    return{"a": a, "b": b, "c": c}

f()

{'a': 5, 'b': 6, 'c': 7}

In [107]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [108]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [109]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [110]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [111]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [112]:
def apply_to_list(some_list, f):
    return[f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]

apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [113]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

strings.sort(key = lambda x: len(set(x)))

strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [114]:
# generators
some_dict = {"a": 1, "b": 2, "c": 3}

for key in some_dict:
    print(key)

a
b
c

In [115]:
dict_iterator = iter(some_dict)
list(dict_iterator)

['a', 'b', 'c']

In [116]:
def squares(n = 10):
    print(f"generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

gen = squares()
gen

In [117]:
for x in gen:
    print(x, end = " ")

generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [118]:
# generator expressions
gen = (x ** 2 for x in range(100))
gen

In [119]:
def _make_gen():
    for x in range(100):
        yield x ** 2

gen = _make_gen()

In [120]:
sum(x ** 2 for x in range(100))

328350

In [121]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [122]:
import itertools

def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [123]:
# errors and exception handling
float("1.2345")

1.2345

In [124]:
# float("something") # will not work

In [125]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
    
print(attempt_float("1.2345"))
print(attempt_float("something"))

1.2345
something

In [126]:
# float((1, 2)) # will not work since is a tuple

In [127]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x
    
attempt_float((1, 2))

(1, 2)

In [128]:
# f = open(path, mode = "w")

# try:
#     write_to_file(f)
# finally:
#     f.close()

In [129]:
# f = open(path, mode = "w")

# try:
#     write_to_file(f)
# except:
#     print("failed")
# else:
#     print("succeeded")
# finally:
#     f.close()

In [130]:
path = "examples/segismundo.txt"
f = open(path, encoding = "utf-8")

for line in f:
    print(line)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [131]:
lines = [x.rstrip() for x in open(path, encoding = "utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [132]:
f.close()

In [133]:
with open(path, encoding = "utf-8") as f:
    lines = [x.rstrip() for x in f]

lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [139]:
f1 = open(path)
f1.read(10)

'SueÃ±a el '

In [140]:
f2 = open(path, mode = "rb")
f2.read(10)

b'Sue\xc3\xb1a el '

In [141]:
f1.tell()

10

In [142]:
f2.tell()

10

In [143]:
import sys
sys.getdefaultencoding()

'utf-8'

In [144]:
f1.seek(3)

3

In [145]:
f1.read(1)

'Ã'

In [146]:
f1.tell()

4

In [147]:
f1.close()
f2.close()

In [148]:
path

'examples/segismundo.txt'